.cityList {
    color: aqua;
}

.bday {
    color: red
}

/* div {
    width: 300px;
    border: 15px solid green;
    border-radius: 50px;
    padding: 50px;
    margin: 20px;
    */
    
  /* } */

  .return {
      color: purple
  }

  .windmill {
      size: 50%;
  }

  .colOne {
      color: rgb(206, 41, 69);
      background-color: rgb(117, 216, 24);
  }

  .colTwo {
      color: rgb(236, 210, 10);
      background-color: rgb(19, 17, 141);
  }

  .colThree {
    color: rgb(240, 16, 121);
    background-color: lightseagreen
  }